#results{
    
    width:80%;
    margin-left: 270px;
    margin-top: -300px;
    
}
#results>div{
    display: flex;
    justify-content: space-between;
   margin-top: 50px;
   border: 1px solid red;
   padding: 10px;
}